    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Hernan Carracedo</strong>
                             </span> <span class="text-muted text-xs block">Especialista en Cosas <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        EKL
                    </div>
                </li>
               <li>
                    <a href="#"><i class="fa fa-home"></i> <span class="nav-label">Inicio</span></a>
                </li>
                <li>
                    <a href="/issue"><i class="fa fa-tasks"></i> <span class="nav-label">Tareas</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-arrow-circle-o-down"></i> <span class="nav-label">Gastos</span></a>
                </li>   
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Clientes</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">abm Cliente</a></li>
                        <li><a href="#">Sucursales</a></li>
                        <li><a href="#">Estac. Monitoreo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">Contactos</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-random"></i> <span class="nav-label">Cuenta Corriente</span></a>
                </li>
               <li>
                    <a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Proveedores</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Reporte 1</a></li>
                        <li><a href="#">Reporte 2</a></li>
                        <li><a href="#">Reporte 3</a></li>
                    </ul>    
                </li>

                <li>
                    <a href="#"><i class="fa fa-dollar"></i> <span class="nav-label">Facturacion</span></a>
                </li>        

                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Contabilidad</span></a>
                </li>    

                <li>
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Configuracion</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">abm tipo gasto</a></li>
                        <li><a href="#">abm tipo contacto</a></li>
                        <li><a href="#">abm archivos</a></li>
                        <li><a href="#">abam links</a></li>                        
                    </ul>    
                </li>                      

                <li class="landing_link">
                    <a target="_blank" href="#"><i class="fa fa-star"></i> <span class="nav-label">Archivos Utiles</span></a>
                </li>
                <li class="special_link">
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Links de Interes</span></a>
                </li>
            </ul>

        </div>
    </nav>